@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #f7d7a8;
}


/*Font-style*/


nav .brand-logo h1{
    color: #ffdead;
    font-family: "Playfair Display", sans-serif;
    margin: -0.2rem 0 1.68rem 0;
}

nav ul a, .footer-area a, .footer-area p, .copyright{
    color: #ffdead;
    font-family: "Roboto", sans-serif;
}

ul#mobile-demo.sidenav.navbar-link li{
    color: #7b3d11;
    font-family: "Merriweather", sans-serif;
}

.recipe-header h3, h5{
    color: #7b3d11;
    font-family: "Playfair Display", sans-serif;
    text-decoration-color: #7b3d11;
    text-decoration: underline;
}

p{
    font-family:"Roboto", sans-serif;
}

.product-name{
    font-family: "Merriweather", sans-serif;
}

::placeholder {
  color: #676b6e;
  opacity: 1;
}


.nav-wrapper{
    background-color: #c2793d; 
}

.sidenav{
    background-color: #f7d7a8
}

.footer-area{
    background-color:  #c2793d;
}



.all-cards{
    width: 18rem;
    height: 22rem;
}


.all-card-photos{
    width: 18rem;
    height: 14rem;
    overflow: hidden;
    object-fit: cover;
}

.card .card-title{
    font-size: 19px;
}

ul.ingredient-list:not(.browser-default)>li {
    list-style-type: disc;
}

ul:not(.browser-default) {
    list-style-type: decimal;
}

.product-image{
    width: 30rem;
    height: 18rem;
    object-fit: cover;
    overflow: hidden;
}
