@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');


body {
    font-family: sans-serif;
    background-color: #f7d7a8;
    margin: 0;
}

h3, h5 {
    color: #7b3d11;
    font-family: "Playfair Display", sans-serif;
}

p {
    font-family:"Roboto", sans-serif;
}

/***  Navbar  ****/

.nav-wrapper{
    background-color: #c2793d; 
}

.sidenav{
    background-color: #f7d7a8
}

nav ul a{
    color: #ffdead;
    font-family: "Roboto", sans-serif;
}

nav ul a:hover {
    color: #dad5d2;
    text-decoration: none;
}

ul#mobile-demo.sidenav.navbar-link li {
    color: #7b3d11;
    font-family: "Merriweather", sans-serif;
}

.sidenav a:hover, .sidenav-trigger i:hover {
    color: #7b3d11;
    text-decoration: none;
}

/***  Banner  ***/

.banner-holder {
    background-color: #fffbf2;
    padding-left: 0;
    padding-right: 0;
}

.banner img{
    width: 100vw;
    height: 18vh;
    object-fit: cover;
    overflow: hidden;
}

/***  Cards  ***/

.all-cards{
    width: 18rem;
    height: 22rem;
    background-color: #f8ca91;
}

.all-cards:hover{
    background-color: #fce8cc;
}

.all-card-photos{
    height: 14rem;
    overflow: hidden;
    object-fit: cover;
}

.card-title {
    color: #7b3d11;
    font-family:"Roboto", sans-serif;
    text-align: center;
}

.card .card-title {
    font-size: 19px;
}

/***  Recipe form  ****/

textarea.materialize-textarea{
    min-height: 6rem;
}

.affirm-question {
    font-family: "Merriweather", sans-serif;
}

.form-control:focus{
    background-color: #f7d7a8;
}

::placeholder {
  color: #676b6e;
  opacity: 1;
}

/****   List    ****/

ul.ingredient-list{
    padding-left: 12px;
}

ul.ingredient-list:not(.browser-default)>li {
    list-style-type: disc;
}

ul:not(.browser-default) {
    list-style-type: decimal;
}

/***   Product     ****/
.product-image{
    width: 30rem;
    height: 18rem;
    object-fit: cover;
    overflow: hidden;
}

ul.procedure-list{
    padding-left: 24px;
}

.procedure-header{
    padding-left: 12px;
}

.title-header {
    text-decoration: underline;
    text-decoration-color: #7b3d11;
}

.index-header a h3 {
    text-decoration-color: #7b3d11;
    text-decoration: underline;
}

.index-header a h3:hover {
    color:  #c2793d;
    transform: scale(1.1)
}

.product-name {
    font-family: "Merriweather", sans-serif;
}

/****   Modal    ****/
.modal-content{
    background-color: #f7d7a8; 
    font-family: "Merriweather", sans-serif;
}

.modal .modal-footer{
    background-color: #fce8cc;
}

.modal{
    height: 189px;
}

#modal2 {
    height: 200px;
}

.modal-close, .modal-delete, .modal-back{
    background-color: #c2793d; 
    color:  #fce8cc;
}

.modal-close:hover, .modal-delete:hover, .modal-back:hover{
    text-decoration: none;
    background-color: #7b3d11;
    color:  #fffbf2;
}

/***  Footer   ***/
.footer-area {
    background-color:  #c2793d;
}

.footer-area a, .footer-area p, .copyright {
    color: #ffdead;
    font-family: "Roboto", sans-serif;
}

.footer-area a:hover {
    color: #7b3d11;
    text-decoration: none;
}


/***   Button   ***/ 
.btn, .btn-floating {
    background-color: #f7baba;
}

.btn:hover, .btn-floating:hover, .btn-floating i:hover {
    background-color:  #edf7f2;
    color: #7b3d11;
}

.btn:not(:disabled):not(.disabled):active {
    background-color:  #edf7f2;
    color: #7b3d11;
}

/****   Icons   ****/
.social-media i:hover{
    transform: scale(2);
    color: #fffbf2; 
}

a.to-top i{
    color: #7b3d11;
}
a.to-top i:hover{
    transform: scale(1.5);
}

/****  Media Queries  ****/

@media only screen and (min-width: 992px){
    .banner img{
        width: 83vw;
        height: 12vh;
        object-fit: cover;
        overflow: hidden;
    }
}