{% extends 'base.html' %}
{% block content %}

    <div class="all-recipes">
        <h2>All Recipes</h2>
    </div>
    {% for recipe in recipes %}
            <div class="card small">
                <a href="#">
                    <img src="{{recipe.image_url}}" class="card-image responsive-img" alt="food">
                        <h5 class="card-title">{{recipe.recipe_title}}</h5>
                            <div class="card-content"></div>
                            <div class="card-action">
                            <a href="{{ url_for('whole_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">View recipe</a>
                            </div>
                </a>
            </div>
    {% endfor %}
    
{% endblock %}