{% extends 'base.html' %} 
{% block content %}

    <div class="title-header text-center">
        <h3>Want to edit a recipe?</h3>
    </div>
    <div class="container">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST">
        <div class="form-group">
            <label for="recipe_title">Title</label>
            <input type="text" class="form-control" id="recipe_title" name="recipe_title" placeholder="What's your recipe's name?" minlength="2" required value="{{ recipe.recipe_title }}">
        </div>
        <div class="form-group">
            <label for="serving_size">Servings: </label>
            <input type="number" class="form-control" min="1" max="100" id="serving_size" name="serving_size" placeholder="How much does this recipe make? Enter a number." required value="{{ recipe.serving_size }}">
        </div>
        <div class="input-field">
            <label for="ingredients">Ingredients</label>
            <textarea class="form-control materialize-textarea" id="ingredients" name="ingredients" placeholder=" Share the secret ingredients. Press enter after each item." minlength="5" required>{{ recipe.ingredients }}</textarea>
        </div>
        <div class="input-field">
            <label for="procedure">Procedure</label>
            <textarea class="form-control materialize-textarea" id="procedure" name="procedure" placeholder="So how do we do it? Press enter after each step." minlength="5" required>{{ recipe.procedure }}</textarea>
        </div>
         <div class="form-group">
            <label for="image_url">Recipe's photo</label>
            <input type="url" class="form-control" id="image_url" name="image_url" placeholder="Curious how it looks. Enter image url." required value="{{ recipe.image_url }}">
        </div>
        <div class="text-center">
            <span class="affirm-question">All good?</span>
            <br>
            <button type="submit" class="edit-button btn btn-primary">Edit now</button>
        </div>
    </form>
        <br>
        <div class="text-center">
            <span class="affirm-question">Changed your mind?</span>
            <br>
            <a href="#modal1" class="btn btn-warning mb-3 modal-trigger" id="delete">Delete now
            </a>
            <div class="modal-holder d-flex">
                <div id="modal1" class="modal col-8 col-md-4">
                    <div class="modal-content">
                        <h4>Delete Recipe</h4>
                        <p>Please confirm to delete recipe.</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-around">
                        <button type="button" class="modal-close btn-flat">Cancel</button>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-delete btn-flat">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 