{% extends 'base.html' %}
{% block content %}

    <div class="recipe-header text-center">
        <h3>Recipe</h3>
    </div>
    <div class="container-fluid justify-content-around">
        {% for recipe in recipes %}
            {% if loop.index >= 3 %}
            <div class="col s12 m7">
                <div class="card medium">
                    <img src="{{recipe.image_url}}" class="card-image" alt="food">
                        <h5 class="card-title">{{recipe.recipe_title}}</h5>
                         <div class="card-content"></div>
                         <div class="card-action">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">Edit recipe</a>
                        </div>
                </div>
                </div>
    </div>
            {% endif %}
        {% endfor %}

{% endblock %}