{% extends 'base.html' %}
{% block content %}
    <div class="d-none d-md-block row">
        <div class="parallax-container justify-content-center">
            <div class="parallax col-xl-8 offset-2 col-lg-8 offset-2 mt-2 mb-2">
                <img src="https://i.imgur.com/kTkBm1T.jpg" title="source: imgur.com" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container row justify-content-center">
        <div class="index-header text-center col-10 col-md-3">
            <a href="{{ url_for('get_all_recipes') }}"><h3>Recipes</h3></a>
        </div>
    </div>
    <div class="description-text">
        <p></p>
    </div>
    <div class="recipe container row d-flex">
        {% for recipe in recipes %}
            {% if loop.index < 4 %}
                <div class="recipe d-flex justify-content-center col-12 col-md-4">
                    <div class="card all-cards">
                        <a href="{{ url_for('whole_recipe', recipe_id=recipe._id)}}">
                            <img src="{{recipe.image_url}}" class="card-img-top all-card-photos" alt="food">
                        </a>
                        <div class="card-body">
                            <p class="card-title">{{recipe.recipe_title}}</p>
                        </div>
                        <a href="{{ url_for('whole_recipe', recipe_id=recipe._id)}}" class="btn btn-primary">View recipe</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row container justify-content-center">
        <div class="index-header text-center col-10 col-med 6">
            <a href="https://www.amazon.com/baking-tools-accessories/b?ie=UTF8&node=289719" target="_blank"><h3>Products</h3></a>
        </div>
    </div>
    <div class="product container row d-flex">
        {% for product in products %}
            {% if loop.index < 4 %}
                <div class="product col-12 col-md-4 d-flex justify-content-center">
                    <div class="card all-cards">
                        <a href="https://www.amazon.com/baking-tools-accessories/b?ie=UTF8&node=289719" target="_blank">
                            <img src="{{product.product_photo}}" class="card-img-top all-card-photos" alt="food">
                        </a>
                        <div class="card-body">
                            <p class="card-title">{{product.product_name}}</p>
                        </div>
                        <a href="https://www.amazon.com/baking-tools-accessories/b?ie=UTF8&node=289719" target="_blank" class="btn btn-primary">Buy here</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}